@charset "utf-8";


body {
	padding:0 6px;
	margin:0;
	color:#3E3A39;
	font:1rem/1.8rem tahoma,"HelveticaNeue","Helvetica Neue",Helvetica,Arial,"Yahei","微软雅黑";
	-webkit-font-smoothing:antialiased;
	-webkit-text-size-adjust:100%;
}
/* 重置 */
div, form, p, i, img, ul, li, ol, dl, dt, dd, label, input {
	margin:0;
	padding:0;
}

/* 列表样式 */
ul, ol, li, dl, dt, dd {
	list-style:none;
}
/* 图片样式 */
img, a img {
	border:0px;
	padding:0px;
	margin:0px;
	vertical-align:middle
}
/* 链接样式 */
a:link{
	color:#000;
	text-decoration:none;
}
a:visited {
	color:#535353;
	text-decoration:none;
}
a:hover {
	color:#000;
	text-decoration:none;
}
a:active {
	color:#000;
	text-decoration:none;
}

.cb{clear:both;}

#wrap{margin:0 auto;}

#topbar{width:27rem;margin:1rem auto 0.5rem;background-color:#F29600;font-size:1rem;line-height:180%;text-align:center;color:#ffffff;}

#list{margin:0 auto;width:28.4rem;}
#list li{float:left;width:7.1rem;height:8.9rem;text-align:center;}
#list li img{width:7.1rem;}

#tab{border-bottom:5px solid #9E9E9F;padding-top:1rem;padding-left:2rem;}
#tab li{float:left;width:254px;height:77px;text-align:center;line-height:77px;font-size:32px;color:#ffffff;background:url(../images/tab_bg-1.png) no-repeat center center;}
#tab li.active{background-image:url(../images/tab_bg-2.png);}

#logo img{width:15rem;}
#top img{width:31.3rem;}
#video_box{padding:0.4rem 2rem 1rem 2rem;}
#video_box video{width:27.3rem;height:15.4rem;background-color:#ddd;}

#formula{font-size:1rem;}
#formula ul, #tool p{padding:0 2.4rem 1rem 3.2rem;}
#formula ul li{border-bottom: 1px dotted #28211C;padding-bottom:0.2rem;}
#formula ul li em{float:right;}

h2{padding-left:1.2rem;padding-bottom:4px;margin-bottom:0.6rem;border-bottom: 1px solid #A09C97;}
h2 img{width:29rem;}

#step p, #step ul li{text-align:center;}
#step img{width:26.5rem;}
#more{margin:1rem 2rem;background-color:#F7B52C;font-size:1.4rem;line-height:200%;text-align:center;font-weight:bold;}
#more a{color:#ffffff;}

#footer{padding-bottom:1rem;font-size:0.8rem;text-align:center;line-height:140%;}

#jiathis_qr{text-align:center;}